<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
      function _submit(){
        document.frm.submit();
      }
    </script>
  </head>
  <body>

    {% include 'include-template.html' %}



    <div class="container mt-4">
      <div class="row col-9 mx-auto d-block rounded border border-success pt-3 pb-3 pl-4 pr-4">
        <div class="mx-auto d-block text-center ">
          <h4 class="text-secondary font-weight-bold">Chỉnh sửa thông tin</h4>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="bg-light mt-3 p-3 pb-0 mb-2 border border-secondary rounded text-center text-dark font-weight-bold mx-auto d-block" >
              {% if account.image is none %}
              <img class=" img-responsive card-img-top " src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="215px" alt="Ảnh đại diện">
              {% else %}
              <img class=" img-responsive card-img-top " src="data:image/*;base64,{{account.image}}" height="215px" alt="Ảnh đại diện">
              {% endif %}
              <label class="pb-0 mt-3"for="">Ảnh đại diện</label>
            </div>
          </div>
          <div class="col-sm-8">
            <form name="frm" class="" action="/edit.profile/{{ account.username }}" enctype="multipart/form-data" method="post">
              <div class="form-group font-weight-bold mt-2">
                <label class="mr-4 pr-3" for="">Thay ảnh</label>
                <!-- src="data:image/*;base64,{{image_base64}}" -->
                <input class="btn pl-0" type="file" onchange="_submit()" accept="image/*" name="image" value="">
              </div>
              <div class="form-group font-weight-bold">
                <label for="">Tên tài khoản</label>
                <input class="form-control" type="text" name="name" value="{{account.name}}" required>
              </div>
              <div class="form-group font-weight-bold">
                <label for="">Email</label>
                <input class="form-control" type="email" name="email" value="{{account.email}}" required>
              </div>
              <div class="form-group font-weight-bold">
                <label for="">Số điện thoại</label>
                <input class="form-control" type="text" name="phone" value="{{account.phone}}" required>
              </div>
              <div class="form-group mt-4 mx-auto">
                <input class=" btn btn-success" type="submit" name="" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>






  </body>
</html>
