<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- import links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/bootstrap-datepicker.min.js"></script>
    <!-- import links _end -->
    <!-- search_friend -->
    <script type="text/javascript">

      function _focus(){
        var check = document.getElementById('check_but');
        check.value = "1";
      }

      function _search(){
        var check = document.getElementById('check_but');
        if (check.value == "1") {
          var but = document.getElementById('dropdownMenuButton');
          but.click();
          check.value = "0";
        }
        // Tìm kiếm phần tử:
        var input, filter, ul, li, a, i, p;
        input = document.getElementById('search_input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("search_hint");
        li = ul.getElementsByTagName('li');

        // Xóa toàn bộ gợi ý không phù hợp
        var limit = document.getElementById('limit');
        var nonresult = document.getElementById('result');
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          p = a.getElementsByTagName("p")[0];
          if (p.innerHTML.toUpperCase().indexOf(filter) > -1) {
            nonresult.value = "1";
            var limit1 = Number(limit.value);
            if (limit1 < 10) {
              li[i].style.display = "";
              limit1++;
              limit.value = limit1.toString();
            }
            else {
              li[i].style.display = "none";
            }
          }
          else {
            li[i].style.display = "none";
          }
        }
        limit.value = "0";
        var no_result = document.getElementById('no_result');
        if (nonresult.value == "1") {
            no_result.style.display = "none";
        }
        else {
            no_result.style.display = "";
        }
        nonresult.value = "0";
      }
    </script>
    <!-- search_friend_end -->

  </head>

  <body>

    <img style="position: absolute; z-index:-1;" class=" w-100 h-80" src="" alt="First slide">

    <!-- nav -->
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark p-0 ">
      <div class="container">

      <a class="navbar-brand ml-2 mr-0" href="/profile/{{account.username}}">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
          <span style="display:inline-block; width: YOURWIDTH;"></span>
        Lên kèo
      </a>
      <button class="navbar-toggler navbar-success" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-0 col-xs-0 ">
          <li class="nav-item active pl-0 ml-4 ml-0">
            <form class="form-inline my-2 my-lg-0 mr-auto">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" style="display: none;" aria-expanded="false"></button>
                <input class="form-control mr-sm-2" id="search_input" onfocus="_focus()" onkeyup="_search()" type="search" placeholder="Nhập để Tìm bạn" aria-label="Search">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul id="search_hint" class="p-0">
                  {% for hint in hints %}
                    <li class="dropdown-item" class="pl-3 pr-3">
                      <a href="/profile/{{hint['username']}}" ><div class="row text-dark text-left">
                      <div class="col-md-1">
                    {% if hint.image is none %}
                      <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="20px" width="20px" alt="">
                    {% else %}
                      <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="20px" width="20px" alt="">
                    {% endif %}
                      </div>
                      <div class="col-md-8">
                        <p>{{hint['name']}}</p></div>
                      </div></a>
                    </li>
                  {% endfor %}
                  </ul>
                  <p class="dropdown-item pl-3 pr-3" id="no_result">Không tìm thấy</p>
                </div>
              </div>
              <input type="hidden" id="check_but" name="" value="1">
              <input type="hidden" id="limit" name="" value="0">
              <input type="hidden" id="result" name="" value="0">
              <button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto col-xs-0 ">

          <li class="nav-item active rounded align-middle p-0 mr-3 ">
            <a class="text-left" href="/profile/{{account.username}}">
            {% if account.image is none %}
              <img class=" rounded" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="35px" width="35px" alt="">
            {% else %}
              <img class=" rounded" src="data:image/*;base64,{{account.image}}" height="35px" width="35px" alt="">
            {% endif %}
            </a>
          </li>



          <li class="nav-item rounded p-0">
            <div data-toggle="tooltip" data-placement="bottom" title="Lời mời kết bạn" class="btn-group rounded p-0 m-0" >
              <button type="button" class="rounded btn btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 class="m-0"><i class="fa
                      {% if account.friend_accept_pending|length == 0 and account.friend_accepted|length == 0 %}
                      fa-user
                      text-secondary
                      {% else %}
                      fa-user-plus
                      text-white
                      {% endif %}
                     " aria-hidden="true"></i></h5>
              </button>
              <div class="dropdown-menu dropdown-menu-right rounded pb-1 pt-1" >
                {% if account.friend_accept_pending|length == 0 and account.friend_accepted|length == 0 %}
                  <div class="text-dark text-right pr-4 col-12">Không có lời mời nào</div>
                {% else %}


                {% for request in account.friend_accepted %}
                  {% for hint in hints %}
                    {% if request == hint.username %}
                <div class="row">
                  <div class="col-10">
                    <span>
                      <a class="dropdown-item pb-2" href="/friend.request/clear/{{request}}"> <span class=" font-weight-bold text-success">
                        {% if hint.image is none %}
                      <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="15px" width="15px" alt="">
                        {% else %}
                      <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="15px" width="15px" alt="">
                        {% endif %}
                        {{ hint.name }}</span>
                        <p class="m-0">đã chấp nhận lời mời kết bạn của bạn
                        <span class="text-primary">Xem trang</span></p></a>
                    </span>
                  </div>
                  <div class=" col-2 p-0 text-left">
                    <a class="text-lg font-weight-bold text-success mr-1" href="/friend.request/clear/{{request}}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    <a class="text-lg font-weight-bold text-danger invisible" href="/friend.request/decline/{{request}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </div>
                  </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}









                  {% for request in account.friend_accept_pending %}
                    {% for hint in hints %}
                      {% if request == hint.username %}
                  <div class="row">
                    <div class="col-10">
                      <span>
                        <a class="dropdown-item pb-2" href="/profile/{{hint.username}}"> <span class=" font-weight-bold text-success">
                          {% if hint.image is none %}
                        <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="15px" width="15px" alt="">
                          {% else %}
                        <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="15px" width="15px" alt="">
                          {% endif %}
                          {{ hint.name }}</span>
                          <p class="m-0">đã gửi lời mời kết bạn.
                          <span class="text-primary">Xem trang</span></p></a>
                      </span>
                    </div>
                    <div class=" col-2 p-0 text-left">
                      <a class="text-lg font-weight-bold text-success mr-1" href="/friend.request/accept/{{request}}"><i class="fa fa-check" aria-hidden="true"></i></a>
                      <a class="text-lg font-weight-bold text-danger" href="/friend.request/decline/{{request}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item text-right font-weight-bold text-dark bg-muted" href="/friend.list/{{account.username}}">Xem chi tiết</a>
              </div>
            </div>
          </li>


          <li class="nav-item active rounded p-0 mr-3">
            <div data-toggle="tooltip" data-placement="bottom" title="Thông báo" class="btn-group rounded p-0 m-0" >
              <button type="button" class="rounded btn btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if notification|length == 0 %}
                <h5 class="m-0"><i class="fa fa-envelope font-size-lg text-secondary" aria-hidden="true"></i></h5>
                {% else %}
                <h5 class="m-0"><i class="fa fa-envelope-open font-size-lg text-white" aria-hidden="true"></i></h5>
                {% endif %}
              </button>
              <div class="dropdown-menu dropdown-menu-right rounded  pb-1 pt-1" >
              {% if notification|length != 0 %}
                {% for noti in notification %}
                  {% for hint in hints %}
                    {% if noti.contract_maker[-1] == hint.username %}
                      <div class="row">
                        <div class="col-10">
                          <span>
                            <a class="dropdown-item pb-2" href="/active.bet/{{noti.id}}">
                              <span class=" font-weight-bold text-success">
                                {% if hint.image is none %}
                              <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="20px" width="20px" alt="">
                                  {% else %}
                              <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="20px" width="20px" alt="">
                                  {% endif %}
                                  {{ hint.name }}
                              </span>
                              <p class="m-0">mời bạn tham gia một giao kèo.
                              <span class="text-primary">Chi tiết
                              </span>
                            </p>
                            </a>
                          </span>
                        </div>
                        <div class=" col-2 p-0 text-left">
                          <a class="text-lg font-weight-bold text-success mr-1" class="text-success" href="/bet.request/accept/{{ noti.id }}"><i class="fa fa-check" aria-hidden="true"></i></a>
                          <a class="text-lg font-weight-bold text-danger" class="text-success" href="/bet.request/decline/{{ noti.id }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% for noti in notification %}
                {% for hint in hints %}
                  {% if noti.victory_claim[-1] == hint.username %}
                    <div class="row">
                      <div class="col-10">
                        <span>
                          <a class="dropdown-item pb-2" href="/active.bet/{{noti.id}}"><span class=" font-weight-bold text-success">
                            {% if hint.image is none %}
                          <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="20px" width="20px" alt="">
                            {% else %}
                          <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="20px" width="20px" alt="">
                            {% endif %}
                              {{ hint.name }}</span>
                          <p class="m-0">tuyên bố đã chiến thắng 1 kèo mà bạn tham gia.
                            <span class="text-primary">Chi tiết</span></p></a>
                        </span>
                      </div>
                      <div class=" col-2 p-0 text-left">
                        <a class="text-lg font-weight-bold text-success mr-1" href="/bet.vote.victory/accept/{{ noti.id }}"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a class="text-lg font-weight-bold text-danger" href="/bet.vote.victory/decline/{{ noti.id }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% else %}
                  <div class="text-dark text-right pr-4">Không có thông báo nào</div>
          {% endif %}
                  <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item text-right font-weight-bold text-dark bg-muted" href="#">Xem toàn bộ</a>
              </div>
              </div>
            </li>

            <li class="nav-item active rounded mr-3 p-0 pb-1 pt-1">
                  <a href="/contract.type.1/traditional" class="rounded pt-0 pb-1 pr-4 pl-4 btn btn-light btn-block font-weight-bold"  name="">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    Lên kèo
                  </a>
            </li>


            <li class="nav-item active dropdown font-size-lg">
              <a class="nav-link dropdown-toggle" href="/profile/{{account.username}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thao tác
                <span style="display:inline-block; width: YOURWIDTH;"></span>
                <i class="fa fa-tasks" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right rounded pt-1 pb-0 text-right " aria-labelledby="navbarDropdown">
                <a class="dropdown-item pt-0" href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i> Cài đặt</a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item text-right font-weight-bold text-dark bg-dark pb-1" href="/logout"><span class="nav-item text-light">Đăng xuất</span></a>
              </div>
            </li>




          </ul>
          <div class="col-0 col-xl-1">

</div>
      </div>
</nav>
    <!-- nav _end -->
    <nav class="navbar navbar-expand-xl navbar-dark bg-success p-0 invisible ">
      <a class="navbar-brand ml-2" >
        Lên kèo
      </a>

    </nav>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>



</html>
