}
.ml500{
  margin-left: 500px;
}

.carousel-caption {
    top: 32%;
    left:20%;
}

.navbar-brand{
      font-family: 'Pacifico';
      font-size: 2.2rem;
}
.nav-link{
      font-size: 1rem;
      font-weight: bold;
      font-family: 'Varela Round', sans-serif;
}
#Varela_1{
        font-size: 2.3rem;
        font-weight: bold;
        font-family: 'Varela Round', sans-serif;
}
#Varela_1_1{
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Varela Round', sans-serif;
}
#Varela_2{
        font-weight: bold;
        font-family: 'Varela Round', sans-serif;
}
