#first_page{
  width: 200px;
  height: 820px;
  overflow: hidden;
  background: url(https://www.walldevil.com/wallpapers/a89/money-success-fame-fortune-glory-waterslide.jpg);
}

#background_ {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


.carousel-caption {
    top: 17%;
    left:10%;
}

.navbar-brand{
      font-family: 'Pacifico';
      font-size: 2.0rem;
}
.nav-link{
      font-size: 0.9rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
}

#Varela_1_1{
        font-size: 1.9rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
}
#Varela_2{
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
}
button {
        font-weight: 200;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
}
*{
        font-family: 'Montserrat', sans-serif;
}
#Montserrat{
        font-weight: 400;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
}
#clock{
        font-weight: 400;
        font-weight: bold;
        font-size: 30px;
}
#footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

img{
  object-fit: cover;
}
