<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include 'include-template.html' %}

    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="" >
              <img class=" img-responsive card-img-top" src="https://i.pinimg.com/originals/a0/28/11/a02811e04be03f1a3cc2a4f81b11338b.jpg" height="250px" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <div class="" >
              <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-success" type="button" name="button">Lên kèo</button>
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-success" type="button" name="button">Button</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="bg-success">

          </div>
        </div>

      </div>
    </div>






  </body>
</html>
